h2 {
    color: blue;
    margin: 0;
    border-bottom: 1px dashed #999;
}

section {
    margin: 10px auto;
    width: 400px; 
    border: 1px solid #bbb;
    background-color: #eee;
    padding: 7px;
}

@media (max-width: 1200px) {
    h2 {
        color: red;
    }
}
@media (max-width: 700px) {
    h2 {
        color: green;
    }
}