* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #003366;
    --secondary-color: #006699;
    --accent-color: #ff6600;
    --background-color: #f4f4f4;
    --text-color: #000000;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    min-width: 330px;
}

/* HEADER */
header {
    background: var(--primary-color);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}
header h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}
header hr {
    position: absolute;
    bottom: 0;
    border: none;
    height: 1rem;
    width: 100vw;
    background-color: var(--accent-color);
}

/* MAIN */